body{
	color: black;
}

ul>li:before{
	content: none;
}

i[class^="fa"]{
	color: white;
}


#nav .nav-menu a:hover, #nav .nav-menu a:focus {
    background: #5B5B5D;
}

nav#nav{
	background-color: black;
	position: fixed;
	width: 100%;
}
.nav-logo{
	display: none;
}

#outer_telegram{
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 60;
    padding-top: 4em;
}

#telegram-link{
        padding-bottom: 0.5em;
        font-family: 'Play', sans-serif;
        font-size: 20px;
        background-color: #2db77e;
        color: #f2f3f5;
        width: 30%;
        z-index: 60;
        margin: 0 auto;
        display: inline-block;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all ease-out;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        opacity: 1;
}

#telegram_link_text:hover {
    color: bisque;
}

#arrow-telegram{
    color: bisque;
}

#telegram-link a{
    font-weight: bold;
}

#header{
	padding-top: 6em;
	padding-bottom: 3em;
}

#header .header-name{
	font-family: fantasy;
	font-size: 3em;
}

#blog-logo{
	width: 150px;
	margin-top: 0px;
    margin-bottom: 0px;
}

article div.inner {
	background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 7em;
}

#about-header{
    padding-top: 15px;
}

.inner-post{
	padding-top: 2em;
}

.inner-about{
    max-width: 66em;
}

#push > section > div.admonitionblock.tip > table > tbody > tr > td.content{
    line-height: 1.5;
}

#push > section > div.admonitionblock.tip{
    background-color: beige;
}

.post .post-header {
    padding: 0;
}

.post-content{
    text-align: justify;
}

.post-list .post .post-image {
    background: white;
}

#mc_embed_signup{
    margin-bottom: 25px;
}

.post-footer {
    margin: 0em 0;
}

.post-comments {
    margin: -3em 0;
    border-radius: 2px;
}
span.name{
	color: white !important;
}
pre.codeblock code{
    background: whitesmoke;
}
.metrics{
	display: block;
	text-align: center;
}

.metrics a{
	display: inline-block;
}

.metrics a img{
	margin: 0px;
	padding-left: 20px;
}

.nav-panel{
	float: left;
    height: 2.5em;
    max-width: 50%;
	padding-left: 30px;
}

.nav-panel a{
	display: block;
    width: 6em;
    height: 2.5em;
    line-height: 1em;
    padding-top: 1.5em;
    text-align: center;
    float: left;
    cursor: pointer;
    font-weight: bold;
}

.nav-panel a:hover{
	background: #5B5B5D;
}

.related-posts-holder{
	margin-top: 15px;
}

.related-posts-holder h2{
	margin: 0px;
	font-size: 1.5em;
}

.related-posts{
	margin: 15px;
}

.related-posts li a{
	color: blue;
}

.related-posts li a:hover{
	text-decoration: underline;
}

#menu{
	height: auto;
}

.post-nav .post-nav-item .post-nav-teaser .post-nav-icon i:before {
    margin-top: 22px;
}

.post-footer .post-share a:before {
    margin: auto;
    margin-top: 5px;
}

.facebook-box{
	margin-bottom: 5px;
	margin-top: 5px;
}
.st-default-search-input{
	margin-top: 16px;
    margin-right: 10px;
}

.readers{
	display: block;
	margin-top: 10px;
    margin-bottom: -10px;
}

div.fb-page.fb_iframe_widget span iframe{
	margin: 0px;
}

#_technical_skills{
   margin: 0px;
}

#_work_experience{
    margin-bottom: 10px;
}

#_public_projects{
    margin-top: 30px;
    margin-bottom: 20px;
}

div.conference-list, div.skills-list, div.job-list{
    line-height: 0.2em;
}

article.featured > div.inner > i.fa-star{
    position: absolute;
    right: 0;
    top: 0;
    width: 1.75em;
    height: 1.75em;
    line-height: 2em;
    text-align: center;
    color: #1F2026;
    z-index: 2;
}

.job-list{
    padding-bottom: 1px;
}

div.conference-list > ul{
    padding-left: 0px;
    margin-top: 60px;
}

div.conference-list > ul > li{
    display: inline-block;
    border: 2px solid #36D995;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

div.conference-list > ul > li:hover{
    background-color: cornsilk;
}

div.conference-list > ul > li > p, div.conference-list > ul > li > p > a{
    border: none;
    color: darkblue;
}

div.skills-list > ul > li > p, div.job-list > ul > li > p{
    color: navy;
}

div.skills-list > ul > li > p > strong, div.job-list > ul > li > p > strong{
    color: brown;
}

div.imageblock.user-photo > div > img{
    float:right;
    margin:0 50px;
    height: 350px;
    border-radius: 20px;
}

.user-photos{
    margin-bottom: 35px;
}

#pagination > div > a > i{
    color: #2DB77E;
}

#blueimp-gallery-carousel{
    box-shadow:none;
    background-color: black;
}

#twitter-widget-0{
    margin: 0;
}

#push > div.social_buttons > div > span > iframe {
  margin: 0;
}

.social_buttons{
  margin-bottom: 25px;
}

@media screen and (min-width: 1660px){
.inner {
    max-width: 75em;
}

.inner-about{
    max-width: 66em;
}

}

@media screen and (max-width: 1000px){
input.st-default-search-input{
	display: none;
}
}

@media screen and (max-width: 800px){
.nav-menu,a.author_link{
    display: none;
}
.nav-panel{
	display: inline-table;
	padding-left: 10px;
}
}

@media screen and (max-width: 600px){
a.video_link,a.author_link,a.course_link{
    display: none;
}
.nav-panel{
	padding-left: 10px;
}
}

@media screen and (max-width: 400px){
#header .header-name {
    font-size: 2em;
}
}
