.album {
    padding-bottom: 75px!important;
}

.jumbotron {
    padding-top: 4em;
    padding-bottom: 3em;
}

.jumbotron-heading {
    font-weight: 500;
}

.card-title a, .card-link, .linked-card {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.card-link:hover, .archive-btn:hover {
    color: #2DB77E;
}

.linked-card {
    display: inherit;
}

.linked-card:hover {
    color: black;
    text-decoration: none;
}

.card.index-card, .card.related-card {
    border: none;
    border-radius: .5rem;
    min-width: 18rem;
    width: 100%;
    max-width: 22rem;
}

.card.related-card {
    background-color: white!important;
}

.card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 48px rgba(0, 0, 0, 0.1)
}

.card-link i, .archive-btn i {
    color: #2DB77E;
}

.card-body hr {
    width: 2em;
    margin-left: 0px;
    border-bottom: 3px solid #36D995;
}

footer.page-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #343a40!important;
}

.archive-btn{
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    text-decoration: none;
    font-weight: 700;
    color: #363740;
    border: 1px solid #36D995;
    border-radius: 4em;
}

article div.inner {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-container {
    padding-top: 1em;
}

.post .post-meta {
    display: block;
    font-size: .75em;
    line-height: 1.334em;
    font-weight: 400;
    margin-bottom: 1.334em;
}

.post .post-meta a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.post .post-title {
    color: #000;
    font-size: 2em;
    line-height: 1.375em;
    font-weight: 600;
    text-indent: -1px;
    margin: .25em 0 .75em;
}

.post-content {
    text-align: justify;
}

.post-content a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 2px solid #36D995;
}

.post-content a:hover, .post-content a:focus {
    border-color: #2DB77E;
}

.post-footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

.related-posts-header {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

a.tag {
    color: #36D995;
}

iframe {
    margin-bottom: 10px;
}

.embed-responsive {
    margin-bottom: 20px;
}

.ulist p {
  margin-bottom: 5px;
}

ul.timecoder li {
   margin-bottom: 5px;
}

ul.timecoder a:hover {
    cursor: pointer;
}

a.timecode:hover {
    cursor: pointer;
}

a.tg-post-icon {
    font-size: 3em;
    border-bottom: none;
}


.sidebar-social {
    margin: 0;
    padding: 0;
}

.sidebar-social ul {
    margin: 0;
    padding: 5px;
}

.sidebar-social li {
	text-align: center;
    width: 24%;
    margin-bottom: 3px!important;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    padding:0;
}

.sidebar-social i {
  display: block;
  margin: 0 auto 10px auto;
	width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444444;
  margin-top:0;
  padding-top:5px;
}
.sidebar-social a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

.sidebar-social a span{
  color:black;
  font-size:10px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
}

.sidebar-social a:hover i.fa-facebook { color: #FF0000; }
.sidebar-social a:hover i.fa-twitter { color:#00ABE3 }
.sidebar-social a:hover i.fa-instagram { color:#FFD400 }
.sidebar-social a:hover i.fa-pinterest { color:#FF0000 }
.sidebar-social a:hover i.fa-google-plus { color:#cb2027 }
.sidebar-social a:hover i.fa-flickr { color:#FF57AE }
.sidebar-social a:hover i.fa-500px { color:#00ABE3 }
.sidebar-social a:hover i.fa-youtube { color:#FF1F25 }
.sidebar-social a:hover i.fa-behance { color:#FF57AE }

.jumbotron.archive {
    padding-top: 4.5em;
    padding-bottom: 1em;
}

img.bio-photo {
    width: 250px;
}

.page {
    padding-top: 1.2em;
}

.training-card {
    border-radius: .5rem;
    min-width: 18rem;
    width: 100%;
    max-width: 22rem;
}

.training-card:hover, .index-card:hover, .rel-card:hover {
    background-color: antiquewhite;
}

.jumbotron .container.trainings {
    max-width: 70rem;
}

form .half.first {
    width: calc(50% - 1em) !important;
    padding-left: 0;
}

form .half {
    width: calc(50% + 1em) !important;
    padding-left: 2em;
}
form .field {
    position: relative;
    float: left;
    margin: 0 0 1.3em 0;
    vertical-align: top;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], select {
    height: 3em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #c9c9c9;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

form .actions {
    position: relative;
    clear: both;
    padding-top: 1em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

.training-form {
    width: 69%;
    margin-top: 2em;
    padding-left: 5px;
}

.payment-sub-header {
    font-weight: 400;
}

.album.training {
    padding-bottom: 200px!important
}

.album.index {
    padding-bottom: 95px!important
}

.training-banner-container {
    background-color: bisque;
    margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        padding-top: 10px;
        border-radius: 10px;
}

.training-banner a{
    color: brown;
}

.training-banner a:hover{
    text-decoration: underline;
}

a.telegram, a.podcast, a.support, a.youtube {
    transition: all .2s ease-in-out;
}

a.telegram:hover, a.podcast:hover, a.support:hover, a.youtube:hover {
    transform: scale(1.1);
}

.tag-header {
    padding-bottom: 0px;
}