<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Автоматизация рутины приоритетнее давления массой">
    <meta name="author" content="Сергей Пирогов">
    <meta name="HandheldFriendly" content="True" />

    <meta property="og:site_name" content="Заметки Автоматизатора">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Kirk + chrome devtools">
    <meta property="og:image" content="../../images/blog-logo.png"/>
    <meta name="referrer" content="origin">

       <meta property="og:description" content="о возможности использовать devtools в тестах"/>
    <link rel="canonical" href="http://automation-remarks.com"/>
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">

    <title>Заметки Автоматизатора</title>

    <link href="../../css/github.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="../../css/album.css" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet">

    <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

           ga('create', 'UA-57010828-1', 'auto');
           ga('send', 'pageview');
    </script>
  <body>
<header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class='container'>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <ul class="navbar-nav">
             <li class="nav-item">
               <a class="nav-link" target=blank href="https://soundcloud.com/qaguild">Подкаст</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" target=blank href="https://tttttt.me/automation_remarks">Телеграм</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/archive.html">Архив</a>
             </li>
          </ul>
        </div>
        </div>
      </nav>
</header>
	<div class="album py-5 bg-light">
       <div class="post-container container">
            <main class="content" role="main">
                <article class="post">
                    <div class="inner inner-post">
                        <div id="push">
                            <header class="post-header">
                                <span class="post-meta">
                                    <span class="post-author">
                                        <a href="/author/index.html">Сергей Пирогов</a>
                                    </span> |
                                    <span class="post-date">
                                        30/07/2017
                                    </span>
                                </span>
                                <div class="clear"></div>
                                <h1 class="post-title">Kirk + chrome devtools</h1>
                            </header>

                            <section class="post-content">
                                <div class="paragraph">
<p>Привет, друзья-айтишники. Сегодня хочу поделиться с вами очередной порцией полезной
информации из мира автоматизации тестирования. Поговорим более детально о возможностях использования
Сhrome developer tools во время прогонов автотестов.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="http://tutorialdock.altervista.org/wordpress/wp-content/uploads/2011/06/chrome-dev-tool.png" alt="chrome dev tool">
</div>
</div>
<div class="paragraph">
<p><a href="http://automation-remarks.com/2017/video-recorder-update/index.html">Записывать видео</a> мы уже давно научились,
а вот использовать такой мощный инструмент, как devtools, пока еще нет.</p>
</div>
<div class="paragraph">
<p>Developer tools обладает обширным кругом возможностей. Мы с вами используем его каждый день: для поиска элеметов,
для того, чтобы посмотреть в network, возможно, даже попытаться <a href="https://developers.google.com/web/tools/chrome-devtools/network-performance/network-conditions">замедлить браузер</a>, чтобы посмотреть на поведение вашего сайта.</p>
</div>
<div class="paragraph">
<p>Использование devtools в тестах было невозможно, пока на одной из конференций не был
показан инструмент <a href="https://github.com/bayandin/devtools-proxy">devtools proxy</a>.</p>
</div>
<div class="paragraph">
<p>Сам прокси написан на Python, но это не ограничивает нас от использования его в Java проектах.</p>
</div>
<div class="paragraph">
<p>Перед тем, как перейти к основной части, я поясню, чем вообще может помочь devtools именно во время прогона тестов.
Во-первых, вы можете смотреть сорс HTML страницы прямо во время исполнения тестов. Во-вторых, можно
смотреть табу network, все запросы и ответы. Это позволяет быстрее понять, что во время теста пошло не так и почему же он упал.
Хочу отметить, что возможность записывать трафик общения между браузером и бекендом уже давно
можно реализовать с помощью <a href="http://www.seleniumeasy.com/selenium-tutorials/browsermob-proxy-selenium-example">browsermob proxy</a>.
Но proxy накладывает свои ограничения и вы не можете так прям в live режиме смотреть, что же там происходит.</p>
</div>
<div class="paragraph">
<p>Я уже давно играюсь с DevTools proxy и буквально недавно сделал интеграцию devtools + <a href="https://github.com/SergeyPirogov/kirk">Kirk</a>.</p>
</div>
<div class="paragraph">
<p>Выглядит это так:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">class DevToolsDemo {

    @Test fun testCanAddTwoNumbersListener() {
        val chrome = Browser(listener = DevTools())
        chrome.to("http://juliemr.github.io/protractor-demo/") {
            element("input[ng-model='first']") value "1"
            element("input[ng-model='second']") value "2"
            select("select[ng-model='operator']").selectOption("+")
            element("#gobutton").click()
            element("h2.ng-binding").shouldHave(text("3"))
        }
    }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>В Kirk класс <strong>Browser</strong> умеет принимать два параметра в конструкторе: <strong>WebDriver</strong> и реализацию интерфейса <strong>KirkListener</strong>.</p>
</div>
<div class="paragraph">
<p>Этим мы и воспользуемся:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">class DevTools : AbstractEventListener() {
    override fun onStart() {
        openDevTools()
    }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Результат смотрим на видео:</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CHW03-L_bI4" frameborder="0" allowfullscreen></iframe>
<div class="paragraph">
<p>На видео вы видели только один браузер потому, что тесты бежали в headless chrome. Эту возможность Kirk тоже поддерживает
"из коробки".
Я специально сделал пример с "безголовым хромом", чтобы более ярко продемонстрировать возможности. С наличием
такой фичи мы можем дебажить тесты, которые бегут на другой машине или в CI (*).</p>
</div>
<div class="paragraph">
<p>В целом я очень доволен появлением такой фичи: теперь команда может более эффективно дебажить тесты и анализировать
результаты. Я уверен, что мы еще будем обкатывать эту функциональность и найдем много полезных фишек, о которых
можно будет рассказать обществу автоматизаторов.</p>
</div>
<div class="paragraph">
<p>BTW: Ближайшее событие, на котором можно будет услышать о тестах на Котлине Kirk + DevTools и получить еще
кучу полезной информации - <a href="http://qafest.com/">QAFest</a>. Не пропустите! Всех посетителей ждет очень много интересного -
это я могу гарантировать как член программного коммитета.</p>
</div>
<div class="paragraph">
<p>(*) Для нормального подключения удаленно нужно делать <a href="https://stackoverflow.com/questions/18506233/using-chromium-remote-debugging-from-external-device">port forwarding</a></p>
</div>
                            </section>

                            <footer class="post-footer">
                                   <div class="post-tags">
                                           <a class="btn btn-sm btn-outline-dark tag" href="/tags/java.html">java</a>
                                           <a class="btn btn-sm btn-outline-dark tag" href="/tags/kotlin.html">kotlin</a>
                                   </div>

                            </footer>

                            <div class="row pl-3 pr-3 training-banner-container">
                                                                    <div class="col text-center pb-3 pt-2 training-banner">
                                                                        <a href="/trainings">Доступные тренинги по автоматизации тестирования: Java API, Java UI, Python API, Jenkins CI</a>
                                                                    </div>
                                                        </div>

                            <div class="sidebar-social">
                                <h5>Подпишись:</h5>
                                <ul>
                                <li>
                                <a href="https://tttttt.me/automation_remarks" class="telegram" target="_blank" rel="nofollow">
                                  <i class="fa fa-telegram" aria-hidden="true"></i>
                                  <span>Telegram</span>
                                </a>
                                </li>

                                <li>
                                <a href="https://soundcloud.com/qaguild" class="podcast" target="_blank" rel="nofollow">
                                  <i class="fa fa-podcast" aria-hidden="true"></i>
                                  <span>Подкаст</span>
                                </a>
                                </li>

                                <li>
                                <a href="https://www.youtube.com/channel/UCHtyBZ2XbtsRmNiAxh48RGg?view_as=subscriber" class="youtube" target="_blank" rel="nofollow">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                  <span>Youtube</span>
                                </a>
                                </li>

                                <li>
                                   <a href="https://donatesystem.io/donate/automation_remarks" class="support" target="_blank" rel="9nofollow">
                                   <i class="fa fa-money" aria-hidden="true"></i>
                                      <span>Поддержать</span>
                                   </a>
                                </li>


                            </div>




                            <div class="row">
                                  <div class="col-md-12">
                                        <div class='related-posts-holder'>
                                             <h2 class="related-posts-header">Похожие заметки:</h2>
                                                 <div class="card-deck">

                                                        <div class="card bg-light mb-3">
                                                         <a class="linked-card rel-card h-100" target="blank" href="/2020/qaguild-live33/index.html">
                                                            <div class="related-card card-body d-flex flex-column">
                                                              <p class="card-text">
                                                                      <small class="text-muted"><span class="post-date">20 July 2020</span></small>
                                                              </p>
                                                              <h5 class="card-title">
                                                                  <!-- <a href="/2020/qaguild-live33/index.html"> -->
                                                                    QAGuild live #33: Юбилейный стрим для тестировщиков
                                                                  <!-- </a> -->
                                                              </h5>

                                                              <!--
                                                              <p class="card-text">
                                                                   В этом эпизоде поговорим про работу с Java + SQL
                                                              </p>
                                                              -->
                                                              <!-- <a href="/2020/qaguild-live33/index.html" class="mt-auto card-link">
                                                                Читать<i class="fa fa-chevron-right ml-1"></i>
                                                              </a> -->
                                                            </div>
                                                            </a>
                                                        </div>


                                                        <div class="card bg-light mb-3">
                                                         <a class="linked-card rel-card h-100" target="blank" href="/2020/qaguild-live32/index.html">
                                                            <div class="related-card card-body d-flex flex-column">
                                                              <p class="card-text">
                                                                      <small class="text-muted"><span class="post-date">06 July 2020</span></small>
                                                              </p>
                                                              <h5 class="card-title">
                                                                  <!-- <a href="/2020/qaguild-live32/index.html"> -->
                                                                    QAGuild live #32: Java + SQL для тестировщика
                                                                  <!-- </a> -->
                                                              </h5>

                                                              <!--
                                                              <p class="card-text">
                                                                   В этом эпизоде поговорим про работу с Java + SQL
                                                              </p>
                                                              -->
                                                              <!-- <a href="/2020/qaguild-live32/index.html" class="mt-auto card-link">
                                                                Читать<i class="fa fa-chevron-right ml-1"></i>
                                                              </a> -->
                                                            </div>
                                                            </a>
                                                        </div>


                                                        <div class="card bg-light mb-3">
                                                         <a class="linked-card rel-card h-100" target="blank" href="/2020/qaguild-live31/index.html">
                                                            <div class="related-card card-body d-flex flex-column">
                                                              <p class="card-text">
                                                                      <small class="text-muted"><span class="post-date">01 July 2020</span></small>
                                                              </p>
                                                              <h5 class="card-title">
                                                                  <!-- <a href="/2020/qaguild-live31/index.html"> -->
                                                                    QAGuild live #31: Про SQL и базы данных для тестировщика
                                                                  <!-- </a> -->
                                                              </h5>

                                                              <!--
                                                              <p class="card-text">
                                                                   В этом эпизоде поговорим про SQL
                                                              </p>
                                                              -->
                                                              <!-- <a href="/2020/qaguild-live31/index.html" class="mt-auto card-link">
                                                                Читать<i class="fa fa-chevron-right ml-1"></i>
                                                              </a> -->
                                                            </div>
                                                            </a>
                                                        </div>


                                                        <div class="card bg-light mb-3">
                                                         <a class="linked-card rel-card h-100" target="blank" href="/2020/qaguild-live30/index.html">
                                                            <div class="related-card card-body d-flex flex-column">
                                                              <p class="card-text">
                                                                      <small class="text-muted"><span class="post-date">22 June 2020</span></small>
                                                              </p>
                                                              <h5 class="card-title">
                                                                  <!-- <a href="/2020/qaguild-live30/index.html"> -->
                                                                    QAGuild live #30: Про Python для тестировщика
                                                                  <!-- </a> -->
                                                              </h5>

                                                              <!--
                                                              <p class="card-text">
                                                                   В этом эпизоде поговорим о том, насколько важны DevOps скилы для тестировщика
                                                              </p>
                                                              -->
                                                              <!-- <a href="/2020/qaguild-live30/index.html" class="mt-auto card-link">
                                                                Читать<i class="fa fa-chevron-right ml-1"></i>
                                                              </a> -->
                                                            </div>
                                                            </a>
                                                        </div>

                                                 </div>
                                         </div>
                                  </div>
                                  <div class="col-md-6">

                                  </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
       </div>
    </div>
    <footer class="text-muted page-footer fixed-bottom">
      <div class="container">

      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../js/popper.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/holder.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="../../js/script.js"></script>
    <script src="https://use.fontawesome.com/e0e0cff5da.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=005666829887305506139:i4vgkrjldvk"></script>
    </body>
</html>