<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


    <title>Используем супер силу Kotlin в тестах</title>
    <meta name="description" content="Автоматизация рутины приоритетнее давления массой">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:site_name" content="Заметки Автоматизатора">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Используем супер силу Kotlin в тестах">
    <meta property="og:image" content="http://automation-remarks.com/images/blog-logo.png"/>

        	<meta property="og:description" content="о применении котлин в деле"/>
	
	<link rel="stylesheet" href="../../css/blueimp-gallery.min.css">	
    <link rel="stylesheet" type="text/css" href="../../css/dependencies.min.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/blog.css" />

    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-57010828-1', 'auto');
       ga('send', 'pageview');

    </script>
</head>

<body>
    <section id="wrapper">
        <div id="ajax-container">
	<script>var disqus="httpspirogovgithubio";</script>

<nav id="nav" class="nav">
        <div class="nav-panel">
          <a class="main_link" href="/">
            <span class="name">Главная</span>
          </a>
          <a class="video_link" href="/podcast" style="
              width: 5em;
          ">
                      <span class="name">Подкаст</span>
                    </a>
          <a class="author_link" href="/archive.html" style="
              width: 5em;
          ">
                      <span class="name">Архив</span>
                    </a>
          <a class="author_link" href="/author/">
            <span class="name">Об Авторе</span>
          </a>
          <a class="course_link" href="/course" style="
              width: 7em;
          ">
                      <span class="name">Обучение</span>
          </a>
        </div>

        <div class="nav-menu">
          <a class="rss" href="https://www.facebook.com/automationremarks"><i class="fa fa-facebook"></i></a>
          <a class="rss" href="https://vk.com/qaremarks"><i class="fa fa-vk"></i></a>
          <a class="rss" href="https://twitter.com/s_pirogov"><i class="fa fa-twitter"></i></a>
          <a class="rss" href="https://qaguild-slack.herokuapp.com/"><i class="fa fa-slack"></i></a>
        </div>
</nav>
	
	<main class="content" role="main">
		<article class="post">
			<div class="inner inner-post">
				<div id="push">
                    <header class="post-header">
                        <span class="post-meta">
                            <span class="post-author">
                                <a href="/author/index.html">Сергей Пирогов</a>
                            </span> |
                            <span class="post-date">
                                18/07/2017
                            </span>
                        </span>
                        <div class="clear"></div>
                        <h1 class="post-title">Используем супер силу Kotlin в тестах</h1>
                    </header>

                    <section class="post-content">
                        <div class="paragraph">
<p>Продолжаем наше знакомство с миром kotlin. В <a href="http://automation-remarks.com/2017/kotlin/index.html">прошлый раз</a>
я писал о первых впечатлениях. Все глубже изучая язык, на данный
момент я успел прочитать 80% книги <a href="https://www.manning.com/books/kotlin-in-action">kotlin in action</a>
и понять идиомы языка и основные, заложенные в него, идеи.</p>
</div>
<div class="paragraph">
<p>Мнение: если вы начинающий тестировщик или совсем мало работаете с Java, вам будет
сложно понять смысл Котлина. Если вы пробовали С#, Groovy и Python, то многие вещи
покажутся уже знакомыми.</p>
</div>
<div class="paragraph">
<p>Просто читать книги и статьи о котлине не достаточно. В интернете появляется все больше материалов,
в которых пишут о том, какой он классный, что он <a href="https://medium.com/@bladecoder/exploring-kotlins-hidden-costs-part-1-fbb9935d9b62">почти не тормозит</a>,
и вообще совместим с джавой просто на ура.
Маркетинг и хайп - это хорошо, но давайте посмотрим на реальность.</p>
</div>
<div class="paragraph">
<p>ИМХО самой крутой фишкой являются <a href="https://kotlinlang.org/docs/reference/extensions.html">extension</a> методы.
С их помощью можно легко нафигачить дополнительных методов в любой java класс.</p>
</div>
<div class="listingblock">
<div class="title">ext.kt</div>
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">fun webdriver.open(url: string, autoclose: boolean? = true) {
    autoclose(autoclose)
    get(url)
}

fun webdriver.autoclose(enabled: boolean? = true) {
    if (enabled!!) {
        runtime.getruntime().addshutdownhook(object : thread() {
            override fun run() = quit()
        })
    }
}

fun webdriver.find(cssselector: string): webelement {
    return findelement(by.cssselector(cssselector))
}

fun webelement.setvalue(value: any) {
    clear()
    sendkeys(value.tostring())
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>И потом использовать все это в своем коде:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">val driver = chromedriver()
driver.open("http://juliemr.github.io/protractor-demo/")
driver.apply {
    find("input[ng-model='first']").set(1)
    find("input[ng-model='second']").set(2)
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Мегакруто! В джаве такого можно добиться с помощью <a href="http://automation-remarks.com/2017/lombok/index.html">lombok</a>,
но для этого нужно понаставить плагинов в idea.</p>
</div>
<div class="paragraph">
<p>А как этот код можно вызвать в джава классе? Смотрим:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">import com.driver.extkt;

webdriver driver = new chromedriver();
extkt.open(driver, "http://juliemr.github.io/protractor-demo/", true);
extkt.find(driver,"input[ng-model='first']").sendkeys("1");
extkt.find(driver,"input[ng-model='second']").sendkeys("2");</code></pre>
</div>
</div>
<div class="paragraph">
<p>Красота, не правда ли? =)) Такова уж природа джавы.</p>
</div>
<div class="paragraph">
<p>Давайте глянем еще на один пример c лямбдами. В котлине их реализовали схожим образом с Groovу.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">val userlist = listof(user("ivan", 26),user("dima", 12))
assert userlist.filter { it.name == "ivan" }.first().age == 26</code></pre>
</div>
</div>
<div class="paragraph">
<p>Намного лучше и удобнее джавы. Но как на счет такого кода? Скажем, мы пишем такой DSL</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">browser.drive {
    to(::calculatorpage) {
        first.setvalue(10)
        second.setvalue(2)
        command.set("/")
        gobtn.click()
        result.shouldbe(5)
    }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Джава эквивалент будет таким:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">Browser.Companion.drive(browser -&gt; {
      browser.to(Calculator::new, calculator -&gt; {
      calculator.getFirst().setValue("10");
      calculator.getSecond().setValue("2");
      сalculator.getSelect().deselectByVisibleText("/");
      calculator.getGoBtn().click();
      calculator.getResult().should(new Have().text("5"));
      return Unit.INSTANCE;
   });
   return Unit.INSTANCE;
});</code></pre>
</div>
</div>
<div class="paragraph">
<p>Неплохая попытка. Я считаю, это - следующий убийца <strong>Selenide</strong> =)</p>
</div>
<div class="paragraph">
<p>На самом деле (без шуток) это все - часть моих безумных экспериментов. Чтобы понять язык, нужно с ним поиграться
и попробовать разные идеи. Конечно же, максимальная совместимость Котлин и Джава задумывалась для более простой
миграции на этот самый Котлин, а не наоборот.</p>
</div>
<div class="paragraph">
<p>На деле язык оставляет хорошее впечатление и облегчает решение повседневных задач. Да, есть проблемы
с идиоматичными Котлин библиотеками, так как местами приходится строить костыли, делая вызовы в стиле</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint highlight"><code class="language-java" data-lang="java">toJson(KotlinUser.klass.javaClass)</code></pre>
</div>
</div>
<div class="paragraph">
<p>Но взамен вы получаете лаконичный синтаксис и ежедневный фан при работе с языком в Idea.
Продолжаем погружение в яркий мир Котлин! Проект <a href="http://automation-remarks.com/kirk/">Kirk</a> обрастает
новыми фишками и идеями и даже появился в <a href="https://search.maven.org/#artifactdetails%7Ccom.automation-remarks%7Ckirk%7C0.7.1%7Cjar">Maven Central</a>.</p>
</div>
<div class="paragraph">
<p><strong>P/S</strong> Так на Котлине ж <a href="https://www.jetbrains.com/research/devecosystem-2017/">пишут всего 2%</a> разрабочиков?
А, пофиг. Если что, пойдем формошлепить на джаваскрипте =))</p>
</div>
                    </section>

                    <div class="post_ads" style="
                                              text-align: center;
                                              margin-bottom: 25px;
                                          ">
                        <a class="course_link" href="/course" style="
                                                    color: red;
                                                    text-decoration: underline;
                                                    font-size: larger;
                                                    background-color:  lightgoldenrodyellow;
                                                    padding: 15px;
                                                    border-radius: 10px;
                                                ">
                                                Нужна помощь? Закажи частную консультацию
                                                </a>
                    </div>

                    <footer class="post-footer">
                            <div class="post-tags">
                                    <a style="background: cornflowerblue;"
                                       href="/tags/Java.html">Java</a>
                                    <a style="background: cornflowerblue;"
                                       href="/tags/Kotlin.html">Kotlin</a>
                            </div>
                    </footer>

                    <div class="row">
                          <div class="col-md-6">
                                <div class='related-posts-holder'>
                                     <h2>Похожие заметки:</h2>
                                     <ul class="related-posts">
                                                <li><a class='js-ajax-link' href="/2018/test-data-supplier/index.html">Test Data Supplier - TestNG Dataprovider на стероидах</a></li>
                                                <li><a class='js-ajax-link' href="/2018/xpdays-2017/index.html">Видео с XPDays 2017</a></li>
                                                <li><a class='js-ajax-link' href="/2018/qa-guild-ep2/index.html">QA Guild Podcast EP-2: Автоматизация мобильных приложений</a></li>
                                                <li><a class='js-ajax-link' href="/2017/delex-conferece/index.html">DelEx - первая конференция про DevOps в Минске</a></li>
                                                <li><a class='js-ajax-link' href="/2017/qa-guild-ep1/index.html">QA Guild Podcast EP-1: Тестирование микросервисов</a></li>
                                                <li><a class='js-ajax-link' href="/2017/selenide-allure-2/index.html">Allure2: убираем аннотации @Step и интеграция с Selenide</a></li>
                                                <li><a class='js-ajax-link' href="/2017/kotlin-without-marketing/index.html">Kotlin без маркетинга</a></li>
                                     </ul>
                                 </div>
                          </div>
                          <div class="col-md-6">

                          </div>
                    </div>
				</div>

				 <!-- Begin MailChimp Signup Form -->
                                   <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                                   <style type="text/css">
                                   	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                                   	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                   	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                   </style>
                                   <div id="mc_embed_signup">
                                   <form action="//automation-remarks.us10.list-manage.com/subscribe/post?u=d24f95005c1b66c13389aceb9&amp;id=ce47ec0c3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                       <div id="mc_embed_signup_scroll">
                                   	<label for="mce-EMAIL">Подписывайтесь на email рассылку</label>
                                   	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                       <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d24f95005c1b66c13389aceb9_ce47ec0c3f" tabindex="-1" value=""></div>
                                       <div class="clear"><input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: black;"></div>
                                       </div>
                                   </form>
                                   </div>

                                   <!--End mc_embed_signup-->

				<aside class="post-comments">
                    <div id="disqus_thread">
                        <script async="async">(function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=344312565764603";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                        </script>
                    </div>
                </aside>
			</div>
		</article>
	</main>

            <footer id="footer">
              <section class="credits">
                <span class="credits-software">Published with <a href="http://jbake.org/">JBake</a></span>
              </section>
            </footer>
         </div>
    </section>

    <script type="text/javascript" src="../../js/dependencies.min.js"></script>
    <script type="text/javascript" src="../../js/script.js" async="async"></script>
    <script src="//my.hellobar.com/b89babe68c85bfcf7416926983e86b31a9467186.js" type="text/javascript" charset="utf-8" async="async"></script>
</body>
</html>