.album {
    padding-bottom: 75px!important;
}

.jumbotron {
    padding-top: 4em;
    padding-bottom: 3em;
}

.jumbotron-heading {
    font-weight: 500;
}

.card-title a, .card-link {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.card-link:hover, .archive-btn:hover {
    color: #2DB77E;
}

.card.index-card, .card.related-card {
    border: none;
    border-radius: .5rem;
}

.card.related-card {
    background-color: white!important;
}

.card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 48px rgba(0, 0, 0, 0.1)
}

.card-link i, .archive-btn i {
    color: #2DB77E;
}

.card-body hr {
    width: 2em;
    margin-left: 0px;
    border-bottom: 3px solid #36D995;
}

footer.page-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #343a40!important;
}

.archive-btn{
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    text-decoration: none;
    font-weight: 700;
    color: #363740;
    border: 1px solid #36D995;
    border-radius: 4em;
}

article div.inner {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-container {
    padding-top: 1em;
}

.post .post-meta {
    display: block;
    font-size: .75em;
    line-height: 1.334em;
    font-weight: 400;
    margin-bottom: 1.334em;
}

.post .post-meta a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.post .post-title {
    color: #000;
    font-size: 2em;
    line-height: 1.375em;
    font-weight: 600;
    text-indent: -1px;
    margin: .25em 0 .75em;
}

.post-content {
    text-align: justify;
}

.post-content a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 2px solid #36D995;
}

.post-content a:hover, .post-content a:focus {
    border-color: #2DB77E;
}

.post-footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

.related-posts-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

a.tag {
    color: #36D995;
}

iframe {
    margin-bottom: 10px;
}