.jumbotron {
    padding-top: 1em;
    padding-bottom: 3em;
}

.post .post-meta {
    display: block;
    font-size: .75em;
    line-height: 1.334em;
    font-weight: 400;
    margin-bottom: 1.334em;
}

post .post-title {
    position: relative;
    color: #000;
    font-size: 2em;
    line-height: 1.375em;
    font-weight: 800;
    text-indent: -1px;
    margin: .25em 0 .75em;
}

.post .post-title a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.post-list .post .post-title {
    font-size: 1.5em;
    line-height: 1.167em;
}

.card {
    border: none;
    border-radius: .5rem;
}